
.container{
  background-color: blue;
  font-size:150%;
  font-family: Arial,serif;
  clear: right;
  text-align: center;
  color: white;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid black;
}
